.artB-CategorySideBar {
    grid-area: leftsidebar;
    border-top-style: double;
    padding-top: 0.1rem;
    border-top-color: rgb(33, 208, 231);
    border-top-width: 4px;
    display: flex;
    flex-direction: column;
}

.artB-CategorySideBar ul li {
    list-style-type: none;
    transition: .8s;
}

.artB-CategorySideBar ul li a {
    text-decoration: none;
    color: #167891;
    font-size: 1.5rem;
    padding: 1.2rem;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.artB-CategorySideBar ul li:hover {
    background-color: rgb(110, 110, 110);
    margin-left: -.7rem;
    padding-right: .7rem;
}

.artB-CategorySideBar ul li:hover a{
    color: aliceblue;
}

.artB-CategorySideBar .artB-Active {
    background-color: rgb(110, 110, 110);
    color: white;
    margin-left: -1rem;
}

.artB-CategorySideBar .artB-Title {
    font-size: 2.3rem;
    font-family: sans-serif;
    margin: 1rem;
    margin-top: 1rem;
    display: inline-block;
    color: orangered;
}